body {
	background-image: url(background-bokashi.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	margin: 0;
}

header {
	display: flex;
	background-color: rgb(250, 189, 251);
	padding: 10px;
	min-width: 97.4%;
}

.theme {
	display: inline-block;
	font-family: 'Segoe Script', sans-serif;
	font-size: 40px;
	padding: 10px;
}

.account {
	display: inline-block;
	text-align: right;
	padding: 10px;
	margin-left: 800px;
}


/*table{*/
/*	margin-top: 200px;*/
/*	position:absolute;*/
/*	border-collapse: collapse;*/
/*	border-color: black;*/
/*}*/

.wrap {
	display: flex;
	margin-top: 80px;
	font-family: 'Yu Mincho Light', 'YuMincho', 'Yu Mincho', '游明朝体', sans-serif;
}

.contents1,.contents2 {
	display: inline-block;
}

.contents1 {
	position:relative;
	
	margin-right: auto;
	margin-left: 200px;
	background-color: rgba(255,255,255,0.9);
	border-radius: 10px;
	padding: 20px 40px 20px 40px;
}

.contents1::after {
  position:absolute;
  margin: 0 7rem;
  content: "";
  width: 2px;
  top:0%;
  height: 400px;
  background-color:gray;
  left: 100%;
}

.contents2 {
	margin-right: 200px;
	background-color: rgba(255,255,255,0.9);
	border-radius: 10px;
    padding: 20px 40px 20px 40px;
}

.button {
	margin-left:120px;
  display       : inline-block;
  border-radius : 10px;          /* 角丸       */
  font-size     : 14pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 10px 10px;   /* 余白       */
  background    : #99ccff;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #99ccff;    /* 枠の指定 */
}

.button:hover {
  color         : #99ccff;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

/*.wrap.contents1 {*/
/*	position: absolute;*/
/*	margin-top: 300px;*/
/*	margin-left: 200px;*/
/*}*/

/*.wrap.contents1::after{*/
/*	position: absolute;*/
/*	top: 0;*/
/*	left: 100%;*/
/*	margin: 0 1rem;*/
/*	content: "";*/
/*	width: 10px;*/
/*	height: 100%;*/
/*	background-color: #333;*/
/*}*/

/*.wrap.contents2 {*/
/*	position:relative;*/
/*	margin-top: 300px;*/
/*	margin-left: 500px;*/
/*}*/
