


table{
	margin-top: 200px;
	position:absolute;
	border-collapse: collapse;
	border-color: black;
}

.wrap {
	display: flex; /*--横並び指定--*/	
}

.wrap.contents1 {
	position: absolute;
	margin-top: 300px;
	margin-left: 200px;
}

.wrap.contents1::after{
	position: absolute; /*--positionを追加--*/
	top: 0;
	left: 100%;
	margin: 0 1rem;
	content: "";
	width: 10px; /*--縦線の太さ(幅)--*/
	height: 100%;
	background-color: #333; /*--縦線の色--*/
}

.wrap.contents2 {
	position:relative;
	margin-top: 300px;
	margin-left: 500px;
}
