body {
	background-image: url(background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	background-color: #464646;
}

.top-left {
	margin-top: 190px;
}

.title {
	margin-left: 20px;
	font-family: 'Segoe Script', sans-serif;
	font-size: 100px;
}

.subtitle {
	margin-left: 150px;
	font-family: 'Yu Mincho Light', 'YuMincho', 'Yu Mincho', '游明朝体', sans-serif;
	font-size: 30px;
}

a.btn-flat {
	overflow: hidden;
	padding: 1rem 1.5rem;
	margin-left: 280px;
	font-size: 20px;
	border-radius: 25px;
	color: white;
	text-decoration: none;
	border-radius: 0;
	background: #000;
}

a.btn-flat span {
	position: relative;

}