<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>イベント登録</title>
	<link rel="stylesheet" type="text/css" href="/css/editEvent.css">
</head>

<body>
	<div class="contents-frame">
		<header>
			<div class="theme">Petit Cadeau</div>
			<div class="account">
			<span th:text="${@account.name}+' さんがログイン中'"></span>
			<br>
			<a href="/login">ログアウト</a>
		</div>
		</header>

		<div class="contents">
			<h1>イベント登録</h1>

			<form action="/events/add" method="post">
				<th:block th:each="item:${List}">
					<font color="red">[[${item}]]<br></font>
				</th:block>
				<table border="0">
					<tr>
						<th>イベント名</th>
						<td><div class="cp_iptxt">
	<label class="ef"><input type="text" name="name" th:value="${name}"></label></div></td>
					</tr>
					<tr>
						<th>イベント日</th>
						<td><div class="cp_iptxt">
	<label class="ef"><input type="date" name="eventDate" th:value="${eventDate}"></label></div></td>
					</tr>
				</table>
				<br>
				<input type="submit" value="登録" class="button">
				<br>
				<a href="/events">イベント一覧へ</a>
			</form>
		</div>
		</body>

</html>