<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>カート情報</title>
	<link rel="stylesheet" type="text/css" href="/css/cart.css">
</head>

<body>
	<div class="contents-frame">
		<header>
			<div class="theme">Petit Cadeau</div>
			<div class="account">
				<div class="login" th:text="${@account.name}+' さんがログイン中'"></div>
				<div class="hamburger-menu">
					<input type="checkbox" id="menu_btn_check">
					<label for="menu_btn_check" class="menu-btn"><span></span></label>
					<label for="menu_btn_check" class="menu-mask"></label>
					<div class="hamburger-contents">
						<label for="menu_btn_check" class="menu-close"><i
								class="fas fa-times"></i><span>close</span></label>
						<div class="link-menu">
							<div class="link"><a th:href="|/mypage/${@account.id}|">マイページ<br>※注文情報は保持されません</a></div>
							<br>
							<div class="link"><a href="/logout">ログアウト</a></div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<a th:href="|/items/${@event.id}|" class="btn bgright">
			<span>
				< 商品一覧へ</span></a>
		<th:block th:if="${@cart.items.size() <= 0}">
			<div class="contents">
				<div class="cart-block">
					<div class="block-left">
						<h1>カート情報</h1>
					</div>
					<div class="block-righttext">
						カートに商品がありません
					</div>
				</div>
			</div>
		</th:block>
		<th:block th:if="${@cart.items.size() > 0}">
			<div class="contents">

				<div class="cart-block">
					<div class="block-left">
						<h1>カート情報</h1>
					</div>
					<div class="block-right">
						<table class="cart-body">
							<tr>
								<th>商品名</th>
								<th>値段(円)</th>
								<th>個数</th>
								<th>小計(円)</th>
								<th></th>
							</tr>
							<tr th:each="item : ${@cart.items}">
								<td th:text="${item.name}"></td>

								<th:block th:if="${@event.name}=='Happy Birthday!!'">
									<th:block th:if="${birthday}==${now}">
										<td style="color: red;" th:with="price=${item.price}*0.5"
											th:text="${#numbers.formatInteger(price, 3, 'COMMA')}">
										</td>
									</th:block>
									<th:block th:if="${birthday}!=${now}">
										<td th:with="price=${item.price}"
											th:text="${#numbers.formatInteger(price, 3, 'COMMA')}">
										</td>
									</th:block>
								</th:block>

								<th:block th:if="${@event.name}!='Happy Birthday!!'">
									<td th:with="price=${item.price}"
										th:text="${#numbers.formatInteger(price, 3, 'COMMA')}">
									</td>
								</th:block>

								<td th:text="${item.quantity}"></td>

								<th:block th:if="${@event.name}=='Happy Birthday!!'">
									<th:block th:if="${birthday}==${now}">
										<td style="color: red;" th:with="price=${item.price*0.5*item.quantity}"
											th:text="${#numbers.formatInteger(price, 3, 'COMMA')}">
										</td>
									</th:block>
									<th:block th:if="${birthday}!=${now}">
										<td th:with="price=${item.price*item.quntity}"
											th:text="${#numbers.formatInteger(price, 3, 'COMMA')}">
										</td>
									</th:block>
								</th:block>

								<th:block th:if="${@event.name}!='Happy Birthday!!'">
									<td th:with="price=${item.price*item.quantity}"
										th:text="${#numbers.formatInteger(price, 3, 'COMMA')}">
									</td>
								</th:block>

								<td>
									<form action="/cart/delete" method="post">
										<input type="hidden" name="itemId" th:value="${item.id}">
										<button class="button">削除</button>
									</form>
								</td>
							</tr>
							<tr>

								<th:block th:if="${@event.name}=='Happy Birthday!!'">
									<th:block th:if="${birthday}==${now}">
										<td style="color: red;" align="right" colspan="5"
											th:with="total=${@cart.totalPrice * 0.5}"
											th:text="'総計：'+${#numbers.formatInteger(total, 3, 'COMMA')}+'円'">
										</td>
									</th:block>
									<th:block th:if="${birthday}!=${now}">
										<td align="right" colspan="5" th:with="total=${@cart.totalPrice}"
											th:text="'総計：'+${#numbers.formatInteger(total, 3, 'COMMA')}+'円'">
										</td>
									</th:block>
								</th:block>
									<th:block th:if="${@event.name}!='Happy Birthday!!'">
										<td align="right" colspan="5" th:with="total=${@cart.totalPrice}"
											th:text="'総計：'+${#numbers.formatInteger(total, 3, 'COMMA')}+'円'">
										</td>
									</th:block>



							</tr>
						</table>
						<br>
						<form action="/order" method="get">
							<input type="submit" value="注文を確認する" class="button">
						</form>
					</div>
				</div>
		</th:block>
</body>

</html>