<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Cart</title>
	<link rel="stylesheet" type="text/css" href="/css/cart.css">
</head>

<body>
	<div class="contents-frame">
		<header>
			<div class="theme">Petit Cadeau</div>
			<div class="account">
				<span th:text="${@account.name}+' さんがログイン中'"></span>
				<br>
				<a href="/login">ログアウト</a>
			</div>
		</header>

		<a th:href="|/items/${@event.id}|" class="btn bgright">
			<span>
				< 商品一覧へ</span></a>
		<th:block th:if="${@cart.items.size() <= 0}">
			<div class="contents">
				<div class="cart-block">
					<div class="block-left">
						<h1>カート情報</h1>
					</div>
					<div class="block-righttext">
						カートに商品がありません
					</div>
				</div>
			</div>
		</th:block>
		<th:block th:if="${@cart.items.size() > 0}">
			<div class="contents">

				<div class="cart-block">
					<div class="block-left">
						<h1>カート情報</h1>
					</div>
					<div class="block-right">
						<table class="cart-body">
							<tr>
								<th>商品名</th>
								<th>値段(円)</th>
								<th>個数</th>
								<th>小計(円)</th>
								<th></th>
							</tr>
							<tr th:each="item : ${@cart.items}">
								<td th:text="${item.name}"></td>
								<td th:with="price=${item.price}"
									th:text="${#numbers.formatInteger(price, 3, 'COMMA')}"></td>
								<td th:text="${item.quantity}"></td>
								<td th:with="price=${item.price * item.quantity}"
									th:text="${#numbers.formatInteger(price, 3, 'COMMA')}"></td>


								<td>
									<form action="/cart/delete" method="post">
										<input type="hidden" name="itemId" th:value="${item.id}">
										<button class="button">削除</button>
									</form>
								</td>
							</tr>
							<tr>
								<td align="right" colspan="5" th:with="total=${@cart.totalPrice}"
									th:text="'総計：'+${#numbers.formatInteger(total, 3, 'COMMA')}+'円'"></td>
								<td></td>
							</tr>
						</table>
						<br>
						<form action="/order" method="get">
							<input type="submit" value="注文を確認する" class="button">
						</form>
					</div>
				</div>
		</th:block>
</body>

</html>