<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>イベント一覧</title>
	<link rel="stylesheet" type="text/css" href="/css/events.css">
	<link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/notosansjapanese.css">

</head>

<body>
	<header>
		<div class="theme">Petit Cadeau</div>
		<div class="account">
			<div class="login" th:text="${@account.name}+' さんがログイン中'"></div>
			<div class="hamburger-menu">
				<input type="checkbox" id="menu_btn_check">
				<label for="menu_btn_check" class="menu-btn"><span></span></label>
				<label for="menu_btn_check" class="menu-mask"></label>
				<div class="hamburger-contents">
					<label for="menu_btn_check" class="menu-close"><i
							class="fas fa-times"></i><span>close</span></label>
					<div class="link-menu">
						<div class="link"><a th:href="|/mypage/${@account.id}|">マイページ</a></div>
						<br>
						<div class="link"><a href="/logout">ログアウト</a></div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="contents">
		<div class="event-block">
			<div class="event-top">
				<th:block th:if="${birthday}==${now}">
					<p class="title-cute">誕生日おめでとう！</p>
				</th:block>
			</div>
			<div class="event-bottom">
				<h1 class="event-title">イベント一覧</h1>
				<table class="event-body">
					<tr th:each="list : ${list}">
						<td
							th:with="month = ${list.eventDate.getMonthValue()}, date = ${list.eventDate.getDayOfMonth()}">
							[[${month.toString().length() == 1 ? '0' + month : month}]]月[[${date.toString().length() ==
							1 ?
							'0' + date : date}]]日
							[[${#temporals.dayOfWeekName(list.eventDate)}]]
						</td>
						<td><a class="event-name" th:href="|/items/${list.id}|">[[${list.name}]]</a></td>

						<th:block th:if="${list.name}=='Happy Birthday!!'">
							<td></td>
							<td></td>
						</th:block>
						<th:block th:if="${list.name}!='Happy Birthday!!'">
							<td>
								<form th:action="|/events/${list.id}/edit|" method="get">
									<button class="button">編集</button>
								</form>
							</td>
							<td>
								<form th:action="|/events/${list.id}/delete|" method="post">
									<button class="button">削除</button>
								</form>
							</td>
						</th:block>
					</tr>
				</table>
			</div>
		</div>
		<br>
		<form action="/events/add" method="get">
			<button class="button-036">新規イベント登録</button>
		</form>
	</div>
</body>

</html>