<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>イベント一覧</title>
</head>

<body>
	<h1>イベント一覧</h1>
	
	<table border="1">
		<tr>
			<th></th>
			<th>月</th>
			<th>日</th>
			<th>イベント名</th>
		</tr>
		<tr th:each="list,row : ${list}">
			<td>[[${row.count}]]</td>
			<td>[[${list.eventDate.getMonthValue()}]]</td>
			<td>[[${list.eventDate.getDayOfMonth()}]]
				[[${#temporals.dayOfWeekName(list.eventDate)}]]
			</td>
			<td><a href="/items">[[${list.name}]]</a></td>
		</tr>
	</table>
	
	<a href="/events/add">新規イベント登録</a>

</body>

</html>