<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>イベント一覧</title>
	<link rel="stylesheet" type="text/css" href="/css/styleAfter.css">
</head>

<body>
	<header>
		<div class="theme">Petit Cadeau</div>
		<div class="account">
			<span th:text="${@account.name}+' さんがログイン中'"></span>
			<br>
			<a href="/login">ログアウト</a>
		</div>
	</header>

	<div class="contents">
		<div class="event-block">
			<h1 class="event-title">イベント一覧</h1>
			<table class="event-body">
				<tr th:each="list : ${list}">
					<td th:with="month = ${list.eventDate.getMonthValue()}, date = ${list.eventDate.getDayOfMonth()}">
						[[${month.toString().length() == 1 ? '0' + month : month}]]月[[${date.toString().length() == 1 ?
						'0' + date : date}]]日
						[[${#temporals.dayOfWeekName(list.eventDate)}]]
					</td>
					<td><a class="event-name" th:href="|/items/${list.id}|">[[${list.name}]]</a></td>
					<td>
						<form th:action="|/events/${list.id}/edit|" method="get">
							<button class="button">編集</button>
						</form>
					</td>
					<td>
						<form th:action="|/events/${list.id}/delete|" method="post">
							<button class="button">削除</button>
						</form>
					</td>
				</tr>
			</table>
		</div>
		<br>
		<br>
		<br>
		<a class="btn_12" href="/events/add">　新規イベント登録</a>
	</div>
</body>

</html>