<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>商品一覧</title>
	<link rel="stylesheet" type="text/css" href="/css/styleItems.css">
</head>

<body>
	<header>
		<div class="theme">Petit Cadeau</div>
		<div class="account">
			<div class="login" th:text="${@account.name}+' さんがログイン中'"></div>
			<div class="hamburger-menu">
				<input type="checkbox" id="menu_btn_check">
				<label for="menu_btn_check" class="menu-btn"><span></span></label>
				<label for="menu_btn_check" class="menu-mask"></label>
				<div class="hamburger-contents">
					<label for="menu_btn_check" class="menu-close"><i
							class="fas fa-times"></i><span>close</span></label>
					<div class="link-menu">
						<div class="link"><a href="mypage">マイページ</a></div>
						<br>
						<div class="link"><a href="logout">ログアウト</a></div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<a href="/events" class="btn bgright">
		<span>
			< イベント一覧へ</span></a>

	<div class="item-block">
		<div class="block-top">
			<h2 class="ribbon1">
				<th:block
					th:with="month = ${@event.eventDate.getMonthValue()}, date = ${@event.eventDate.getDayOfMonth()}">
					[[${month.toString().length() == 1 ? '0' + month : month}]]月[[${date.toString().length() == 1 ?
					'0' + date : date}]]日
					[[${#temporals.dayOfWeekName(@event.eventDate)}]]
				</th:block>
				&emsp;
				[[${@event.name}]]
			</h2>
		</div>
		<hr>
		<div class="block-bottom">
			<div class="block-left">
				<h1>商品一覧</h1>
			</div>

			<div class="block-right">
				<div class="right-top">
					<form th:action="|/items/${@event.id}|" method="get" class="search_container">
						<input type="hidden" name="categoryId" th:value="${categoryId}">
						<input type="text" name="maxPrice" th:value="${maxPrice}" placeholder="価格">
						円以下
						<input type="submit" value="検索">
					</form>
					<a class="allitems" th:href="|/items/${@event.id}|">全商品を表示</a>
					<a class="allitems" th:each="c:${categories}" th:href="|/items/${@event.id}?categoryId=${c.id}|">
						<span th:text="${c.name}" style="padding-left: 10px;"></span>
					</a>
				</div>
				<table class="item-body">
					<tr>
						<th>商品名</th>
						<th>数量</th>
						<th>値段(円)</th>
						<th></th>
					</tr>
					<tr th:each="item : ${items}">
						<form action="/cart/add" method="post">
							<td th:text="${item.name}"></a></td>
							<td>
								<select name="quantity">
									<option value="1" selected>1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
								</select>
							</td>
							<td th:with="price=${item.price}" th:text="${#numbers.formatInteger(price, 3, 'COMMA')}">
							</td>
							<td>
								<input type="hidden" name="itemId" th:value="${item.id}">
								<button class="button">カートに追加</button>

							</td>
						</form>
					</tr>
				</table>
			</div>
		</div>
	</div>


</body>

</html>