<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
	<header>
		<div class="theme">Petit Cadeau</div>
		</div>
	</header>
	<div class="wrap">
		<div class="contents1">
			<h1>ログイン</h1>

			<th:if="${message}">
				<a style="color:red" th:text="${message}"></a>
				</th:if>

				<form action="/login" name="login" method="post">
					<table border="0">
						<tr>
							<th>メールアドレス</th>
							<td>
								<div class="cp_iptxt">
									<label class="ef"><input type="text" name="email1" th:value="${email1}"></label>
								</div>
							</td>
						</tr>
						<tr>
							<th>パスワード</th>
							<td>
								<div class="cp_iptxt">
									<label class="ef"><input type="text" name="password"  oncopy="return false" style="-webkit-text-security:disc;"></label>
								</div>
							</td>
						</tr>
					</table>
					<br>
					<input type="submit" value="Log In" class="button">
				</form>
		</div>

		<div class="contents2">
			<h1>会員登録</h1>
			<form action="/account/add" method="post">

				<th:block th:each="item:${List}">
					<font color="red">[[${item}]]<br></font>
				</th:block>
				
				<th:block th:if="${addmessage}">
					<div class="complete">[[${addmessage}]]</div>
				</th:block>

				<table border="0">
					<tr>
						<th>名前</th>
						<td>
							<div class="cp_iptxt">
								<label class="ef"><input type="text" name="name" th:value="${name}"></label>
							</div>
						</td>
					</tr>
					<tr>
						<th>住所</th>
						<td>
							<div class="cp_iptxt">
								<label class="ef"><input type="text" name="address" th:value="${address}"></label>
							</div>
						</td>
					</tr>
					<tr>
						<th>メールアドレス</th>
						<td>
							<div class="cp_iptxt">
								<label class="ef"><input type="text" name="email2" th:value="${email2}"></label>
							</div>
						</td>
					</tr>
					<tr>
						<th>電話番号</th>
						<td>
							<div class="cp_iptxt">
								<label class="ef"><input type="text" name="tel" th:value="${tel}"></label>
							</div>
						</td>
					</tr>
					<tr>
						<th>パスワード</th>
						<td>
							<div class="cp_iptxt">
								<label class="ef"><input type="text" name="password"  oncopy="return false" style="-webkit-text-security:disc;"></label>
								   </div>
							</div>
						</td>
					</tr>
					<tr>
						<th>誕生日</th>
						<td>
							<div class="cp_iptxt">
								<label class="ef"><input type="date" name="birthday" th:value="${birthday}"></label>
							</div>
						</td>
					</tr>
				</table>


				<br>
				<input type="submit" value="Sign Up" class="button">
			</form>
		</div>
	</div>
</body>

</html>