<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>イベント編集</title>
	<link rel="stylesheet" type="text/css" href="/css/addEvent&editEvent&myPage.css">
</head>

<body>
	<header>
		<div class="theme">Petit Cadeau</div>
		<div class="account">
			<div class="login" th:text="${@account.name}+' さんがログイン中'"></div>
			<div class="hamburger-menu">
				<input type="checkbox" id="menu_btn_check">
				<label for="menu_btn_check" class="menu-btn"><span></span></label>
				<label for="menu_btn_check" class="menu-mask"></label>
				<div class="hamburger-contents">
					<label for="menu_btn_check" class="menu-close"><i
							class="fas fa-times"></i><span>close</span></label>
					<div class="link-menu">
						<div class="link"><a th:href="|/mypage/${@account.id}|">マイページ</a></div>
						<br>
						<div class="link"><a href="/logout">ログアウト</a></div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="contents">

		<form th:action="|/mypage/${@account.id}|" method="post">
			<h1>マイページ</h1>

			<th:block th:each="item:${List}">
				<font color="red">[[${item}]]<br></font>
			</th:block>

			<table border="0">
				<tr>
					<th>名前</th>
					<td>
						<div class="cp_iptxt">
							<label class="ef"><input type="text" name="name" th:value="${@account.name}"></label>
						</div>
					</td>
				</tr>
				<tr>
					<th>住所</th>
					<td>
						<div class="cp_iptxt">
							<label class="ef"><input type="text" name="address" th:value="${@account.address}"></label>
						</div>
					</td>
				</tr>
				<tr>
					<th>メールアドレス</th>
					<td>
						<div class="cp_iptxt">
							<label class="ef"><input type="text" name="email" th:value="${@account.email}"></label>
						</div>
					</td>
				</tr>
				<tr>
					<th>電話番号</th>
					<td>
						<div class="cp_iptxt">
							<label class="ef"><input type="text" name="tel" th:value="${@account.tel}"></label>
						</div>
					</td>
				</tr>
				<tr>
					<th>パスワード</th>
					<td>
						<div class="cp_iptxt">
							<label class="ef"><input type="text" name="password"　oncopy="return false" style="-webkit-text-security:disc;"></label>
						</div>
					</td>
				</tr>
				<tr>
					<th>誕生日</th>
					<td class="birthday" th:text="${@account.birthday}"></td>
					<input type="hidden" name="birthday" th:value="${@account.birthday}">
				</tr>
			</table>
			<br>
			<input type="submit" value="更新" class="button">
		</form>
	</div>


</body>

</html>