<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Order</title>
	<link rel="stylesheet" type="text/css" href="/css/styleorder.css">
</head>

<body>
	<header>
		<div class="theme">Petit Cadeau</div>
		<div class="account">
			<span th:text="${@account.name}+' さんがログイン中'"></span>
			<br>
			<a href="/login">ログアウト</a>
		</div>
	</header>

	<a href="/cart" class="btn bgright">
		<span>
			< カートへ戻る</span></a>

	<div class="order-block">
		<h1>注文確認・配送情報入力</h1>
		<div class="order-item">
			<h3>-ご注文商品-</h3>
			<table class="order-table">
				<tr>
					<th>商品名</th>
					<th>値段(円)</th>
					<th>個数</th>
					<th>小計(円)</th>
				</tr>
				<tr th:each="item : ${@cart.items}">
					<td th:text="${item.name}"></td>
					<td th:with="price=${item.price}"
									th:text="${#numbers.formatInteger(price, 3, 'COMMA')}"></td>
					<td th:text="${item.quantity}"></td>
					<td th:with="price=${item.price * item.quantity}"
									th:text="${#numbers.formatInteger(price, 3, 'COMMA')}"></td>
				</tr>
				<tr>
					<td align="right" colspan="5" th:with="total=${@cart.totalPrice}"
									th:text="'総計：'+${#numbers.formatInteger(total, 3, 'COMMA')}+'円'"></td>
								<td></td>
				</tr>
			</table>
		</div>

		<br>
		<br>
		<br>

		<div class="deliverly">
			<h3>-配送方法-</h3>
			<div class="deliver-box">
				<div class="deliver-left">
					<form action="/order/confirmme" method="post">
						<input type="hidden" name="sendTo" value="me">
						●自分の住所に送る場合
						<th:block th:if="${error}" th:each="error:${error}">
							<br>
							<font color="red">[[${error}]]</font>
						</th:block>
						<table border="0" class="deliform">
							<tr>
								<th>お名前</th>
								<td th:text="${name}"></td>
								<input type="hidden" name="name" th:value="${name}">
							</tr>
							<tr>
								<th>住所</th>
								<td th:text="${address}"></td>
								<input type="hidden" name="address" th:value="${address}">
							</tr>
							<tr>
								<th>お支払方法</th>
								<td>
									<input type="radio" name="payment1" value="cash" checked>着払い
									<input type="radio" name="payment1" value="credit">クレジット
									<input type="radio" name="payment1" value="conbini">コンビニ支払い
								</td>
							</tr>
							<tr>
								<th>メッセージ</th>
								<td>
									<div class="cp_iptxt">
										<label class="ef">
											<textarea name="message" placeholder="誕生日おめでとう！" cols="30"
												rows="4" th:value="${message}"></textarea>
										</label>
									</div>
								</td>
							</tr>
						</table>
						<button class="button">最終確認する</button>
						<br>
					</form>
				</div>

				<div class="deliver-right">
					<form action="/order/confirmyou" method="post">
						<input type="hidden" name="sendTo" value="you">
						●相手の住所に送る場合
						<th:block th:if="${error}" th:each="error:${error}">
							<br>
							<font color="red">[[${error}]]</font>
						</th:block>
						<table border="0" class="deliform">
							<tr>
								<th>宛名</th>
								<td>
									<div class="cp_iptxt">
										<label class="ef">
											<input type="text" name="toname" th:value="${toname}">
										</label>
									</div>
								</td>
							</tr>
							<tr>
								<th>送り先住所</th>
								<td>
									<div class="cp_iptxt">
										<label class="ef">
											<input type="text" name="toaddress" th:value="${toaddress}">
										</label>
									</div>
								</td>
							</tr>
							<tr>
								<th>お支払方法</th>
								<td>
									<input type="radio" name="payment2" th:value="credit" checked>クレジット
									<input type="radio" name="payment2" th:value="conbini">コンビニ支払い
								</td>
							</tr>
							<tr>
								<th>メッセージ</th>
								<td>
									<div class="cp_iptxt">
										<label class="ef">
											<textarea name="tomessage" placeholder="誕生日おめでとう！" cols="30"
												rows="4" th:value="${tomessage}"></textarea>
										</label>
									</div>
								</td>
							</tr>
						</table>

						<button class="button">最終確認する</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>