<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>注文最終確認</title>
	<link rel="stylesheet" type="text/css" href="/css/styleorder_conform.css">
</head>

<body>
	<div class="contents-frame">
		<header>
			<div class="theme">Petit Cadeau</div>
			<div class="account">
				<div class="login" th:text="${@account.name}+' さんがログイン中'"></div>
				<div class="hamburger-menu">
					<input type="checkbox" id="menu_btn_check">
					<label for="menu_btn_check" class="menu-btn"><span></span></label>
					<label for="menu_btn_check" class="menu-mask"></label>
					<div class="hamburger-contents">
						<label for="menu_btn_check" class="menu-close"><i
								class="fas fa-times"></i><span>close</span></label>
						<div class="link-menu">
							<div class="link"><a th:href="|/mypage/${@account.id}|">マイページ</a></div>
							<br>
							<div class="link"><a href="/logout">ログアウト</a></div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<a href="/order" class="btn bgright">
			<span>
				< 配送方法入力画面へ戻る</span></a>

		<div class="order-block">
			<h1>注文最終確認</h1>
			<h3>下記の内容で注文を行いますか？</h3>
			<h3>-ご注文商品-</h3>
			<table class="order-table">
				<tr>
					<th>商品名</th>
					<th>値段(円)</th>
					<th>個数</th>
					<th>小計(円)</th>
				</tr>
				<tr th:each="item : ${@cart.items}">
					<td th:text="${item.name}"></td>

					<th:block th:if="${@event.name}=='Happy Birthday!!'">
						<th:block th:if="${birthday}==${now}">
							<td style="color: red;" th:with="price=${item.price}*0.5"
								th:text="${#numbers.formatInteger(price, 3, 'COMMA')}">
							</td>
						</th:block>
						<th:block th:if="${birthday}!=${now}">
							<td th:with="price=${item.price}" th:text="${#numbers.formatInteger(price, 3, 'COMMA')}">
							</td>
						</th:block>
					</th:block>

					<th:block th:if="${@event.name}!='Happy Birthday!!'">
						<td th:with="price=${item.price}" th:text="${#numbers.formatInteger(price, 3, 'COMMA')}">
						</td>
					</th:block>

					<td th:text="${item.quantity}"></td>

					<th:block th:if="${@event.name}=='Happy Birthday!!'">
						<th:block th:if="${birthday}==${now}">
							<td style="color: red;" th:with="price=${item.price*0.5*item.quantity}"
								th:text="${#numbers.formatInteger(price, 3, 'COMMA')}">
							</td>
						</th:block>
						<th:block th:if="${birthday}!=${now}">
							<td th:with="price=${item.price}" th:text="${#numbers.formatInteger(price, 3, 'COMMA')}">
							</td>
						</th:block>
					</th:block>

					<th:block th:if="${@event.name}!='Happy Birthday!!'">
						<td th:with="price=${item.price*item.quantity}"
							th:text="${#numbers.formatInteger(price, 3, 'COMMA')}">
						</td>
					</th:block>
				</tr>
				<tr>
					<th:block th:if="${@event.name}=='Happy Birthday!!'">
						<th:block th:if="${birthday}==${now}">
							<td style="color: red;" align="right" colspan="5" th:with="total=${@cart.totalPrice * 0.5}"
								th:text="'総計：'+${#numbers.formatInteger(total, 3, 'COMMA')}+'円'">
							</td>
						</th:block>
						<th:block th:if="${birthday}!=${now}">
							<td align="right" colspan="5" th:with="total=${@cart.totalPrice}"
								th:text="'総計：'+${#numbers.formatInteger(total, 3, 'COMMA')}+'円'">
							</td>
						</th:block>
					</th:block>
						<th:block th:if="${@event.name}!='Happy Birthday!!'">
							<td align="right" colspan="5" th:with="total=${@cart.totalPrice}"
								th:text="'総計：'+${#numbers.formatInteger(total, 3, 'COMMA')}+'円'">
							</td>
						</th:block>
				</tr>
			</table>


			<div class="deliinfo">
				<h3>-配送情報-</h3>

				<th:block th:if="${sendTo} == me">
					<form action="/order" method="post">
						<table class="order-table">
							<tr>
								<th>お名前</th>
								<td th:text="${name}"></td>
								<input type="hidden" name="name" th:value="${name}">
							</tr>
							<tr>
								<th>住所</th>
								<td th:text="${address}"></td>
								<input type="hidden" name="address" th:value="${address}">
							</tr>
							<tr>
								<th>お支払方法</th>
								<span>
									<td th:if="${payment1}=='cash'">着払い</td>
								</span>
								<span>
									<td th:if="${payment1}=='credit'">クレジット払い</td>
								</span>
								<span>
									<td th:if="${payment1}=='conbini'">コンビニ払い</td>
								</span>
								<input type="hidden" name="payment1" th:value="${payment1}">
							</tr>
							<tr>
								<th>メッセージ</th>
								<td th:text="${message}">
								</td>
								<input type="hidden" name="message" th:value="${message}">
							</tr>
						</table>


						<button class="button">この内容で確定する</button>
				</th:block>

				<th:block th:if="${sendTo} == you">
					<form action="/order" method="post">
						<table class="order-table">
							<tr>
								<th>宛名</th>
								<td th:text="${toname}">
								</td>
							</tr>
							<tr>
								<th>送り先住所</th>
								<td th:text="${toaddress}">
								</td>
								<input type="hidden" name="address" th:value="${address}">
							</tr>
							<tr>
								<th>お支払方法</th>
								<span>
									<td th:if="${payment2}=='credit'">クレジット払い</td>
								</span>
								<span>
									<td th:if="${payment2}=='conbini'">コンビニ払い</td>
								</span>
								<input type="hidden" name="payment2" th:value="${payment2}">
							</tr>
							<tr>
								<th>メッセージ</th>
								<td th:text="${tomessage}">
								</td>
								<input type="hidden" name="message" th:value="${message}">
							</tr>
						</table>


						<button class="button">この内容で確定する</button>
					</form>
				</th:block>
			</div>
		</div>
	</div>
</body>

</html>