<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Order</title>
</head>

<body>
	<h1>注文確認・配送情報入力</h1>
	<header th:replace="header"></header>
	<hr>
	<main>
		<h3>ご注文商品</h3>
		<a href="/cart">カートを見る</a>
		<table border="1">
			<tr>
				<th>NO</th>
				<th>商品名</th>
				<th>値段</th>
				<th>個数</th>
				<th>小計</th>
			</tr>
			<tr th:each="item : ${@cart.items}">
				<td th:text="${item.id}"></td>
				<td th:text="${item.name}"></td>
				<td th:text="${item.price}"></td>
				<td th:text="${item.quantity}"></td>
				<td th:text="${item.price * item.quantity}"></td>
			</tr>
			<tr>
				<td align="right" colspan="5" th:text="'総計：'+${@cart.totalPrice}"></td>
			</tr>
		</table>

		<hr>
		<h3>配送方法</h3>
		<form action="/order/confirmme" method="post">
			<input type="hidden" name="sendTo" value="me">
			●自分の住所に送る場合
			<table border="1">
				<tr>
					<th>お名前</th>
					<td th:text="${name}"></td>
					<input type="hidden" name="name" th:value="${name}">
				</tr>
				<tr>
					<th>住所</th>
					<td th:text="${address}"></td>
					<input type="hidden" name="address" th:value="${address}">
				</tr>
				<tr>
					<th>お支払方法</th>
					<td>
						<input type="radio" name="payment1" value="cash" checked>着払い
						<input type="radio" name="payment1" value="credit">クレジット
						<input type="radio" name="payment1" value="conbini">コンビニ支払い
					</td>
				</tr>
				<tr>
					<th>メッセージ</th>
					<td>
						<textarea name="message" placeholder="誕生日おめでとう！"></textarea>
					</td>
				</tr>
			</table>
			<button>最終確認する</button>
			<br>
			</form>
			
			<form action="/order/confirmyou" method="post">
				<input type="hidden" name="sendTo" value="you">
			●相手の住所に送る場合
			<table border="1">
				<tr>
					<th>宛名</th>
					<td>
						<input type="text" name="name">
					</td>
				</tr>
				<tr>
					<th>送り先住所</th>
					<td>
						<input type="text" name="address">
					</td>
				</tr>
				<tr>
					<th>お支払方法</th>
					<td>
						<input type="radio" name="payment2" value="credit" checked>クレジット
						<input type="radio" name="payment2" value="conbini">コンビニ支払い
					</td>
				</tr>
				<tr>
					<th>メッセージ</th>
					<td>
						<textarea name="message" placeholder="誕生日おめでとう！"></textarea>
					</td>
				</tr>
			</table>

			<button>最終確認する</button>
		</form>
	</main>

</body>

</html>