<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

	<div class="top-left">
		<span class="title">PetitCadeau</span>
		<br>
		<span class="subtitle">～大切な人へ、小さな贈り物を～</span>
	</div>

	<div class="top-right">
		<form action="/login" method="post">
			<table border="1">
				<tr>
					<th>メールアドレス</th>
					<td><input type="text" name="email" th:value="${email}"></td>
				</tr>
				<tr>
					<th>パスワード</th>
					<td><input type="text" name="password"></td>
				</tr>
			</table>
			<button>ログイン</button>
		</form>

		<a href="/account/add">新規会員登録</a>
	</div>


</body>

</html>